{% extends 'index.html' %}

{% block title %}
    Carrito - Alimentacion Santiago
{% endblock %}

{% block content %}
    <table cell style="margin-left: auto; margin-right: auto; border-spacing: 50px;">
        {% for i in n %}
            <tr >
                <th>
                    <div id="imagen" style="width: 200px; height: 200px; background-color: blue;">
                        imagen
                    </div>
                </th>
                <th style="width: 800px; text-align: left; vertical-align: top; padding-left: 30px;">
                    <div id="detalles">
                        <h2 id="titulo">
                            {{i.titulo}}
                        </h2>
                        <p id="ingredientes">
                            {{i.ingre}}
                        </p>
                        <p id="restaurante">
                            {{i.rest}}
                        </p>
                    </div>
                </th>
            </tr>
        {% endfor %}
    </table>

    <button>enviar pedido</button>
{% endblock content %}