{% extends 'index.html' %}

{% block title %}
    Alimentacion Santiago
{% endblock title %}

{% block content %}
    <table cell style="margin-left: auto; margin-right: auto; border-spacing: 50px;">
        {% for i in n %}
            <tr >
                <th>
                    <div id="imagen" style="width: 200px; height: 200px; background-color: blue;">
                        imagen
                    </div>
                </th>
                <th style="width: 800px; text-align: left; vertical-align: top; padding-left: 30px;">
                    <div id="detalles">
                        <h2 id="titulo">
                            patata
                        </h2>
                        <p id="ingredientes">
                            ingredientes
                        </p>
                        <p id="restaurante">
                            restaurante
                        </p>
                    </div>
                </th>
                <th>
                    <button id="comprar" style="height: 200 px; width: 100px;">
                        comprar
                    </button>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}