{% extends 'index.html' %}

{% block title %}
    Alimentacion Santiago
{% endblock title %}

{% block content %}
    <div id="imagen" style="width: 200px; height: 200px; background-color: blue;">
        imagen
    </div>
    <div id="detalles">
        <h2 id="titulo">
            pasta
        </h2>
        <p id="ingredientes">
            ingredientes
        </p>
        <p id="restaurante">
            restaurante
        </p>
    </div>
    <button id="comprar">
        comprar
    </button>
{% endblock content %}