<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
</head>
<body>
    <nav style="border: 1px solid blue;">
        <img src="https://i.blogs.es/518176/patata/1366_2000.png" alt="">
        <a href="/">inicio</a>
        <a href="/car">carrito</a>
        <a href="/pedido">pedido</a>
        <a href="">usuario</a>
        <a href="">nosotros</a>
    </nav>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>