{% extends 'index.html' %}

{% block title %}
    sobre nosotros - Alimentacion Santiago
{% endblock %}

{% block content %}

<div class="container ">

    <h2 class="titulo">Nosotros</h2>
    <br>
    <p class="resumen">
        Alimentos Santiago entrega los servicios de comida rápida a domicilio, lleva 10 años en el mercado y
        posee una cartera de clientes a los que entrega platos preparados.  La empresa se encuentra ubicada
        en el centro de la ciudad.

        <br>
        <br>
        Nuestra empresa, durante sus 10 años, se ha dedicado a entregar platos preparados, preferentemente de comidas caseras,
        a trabajadores de empresas cercanas , 
        los que han tenido una buena aceptación en los clientes, 
        ya que valoran los ingredientes frescos y caseros con los que preparan los platos.
        <br>
        <br>
        Contamos con un restaurante “EL COMILON” para prestar los servicios de alimentación, donde poseen la capacidad de preparar los platos y atender a los clientes en el mismo local, 
        además poseen el servicio telefónico para efectuar pedidos y reparto a domicilio.
        
        <br>
        <br>
        Con nuestros repartidores llegamos a todo Santiago y Contamos con todos los metodos de pago: efectivo, datafono, pagos online y los mas importante com muy buenos precios.
        <br>
        <br>
        
        Te deseamos la mejor experiencia en nuestro Restaurante !! .

    </p>

</div>


{% endblock content %}