{% extends 'index.html' %}

{% block title %}
    Pedido - Alimentacion Santiago
{% endblock %}

{% block content %}
    <div>
        <img src="https://www.lavanguardia.com/files/image_948_465/uploads/2015/08/28/5fa28157b6339.jpeg" style="width: 60%; margin-left: auto; margin-right: auto; display: block;">
    </div>
    <br>
    <div style="text-align: center;">
        <h2>tu pedido debería llegar en aproximadamente 0 horas y 20 minutos</h2>
        <p>puede llamar al siguiente numero para contactar al restaurante o a su repartidor</p>
        <p>restaurante: +569 1234 5678</p>
        <p>repartidor: +569 8765 4321</p>
    </div>
{% endblock %}