{% extends 'index.html' %}

{% block title %}
    registro_receta - Alimentacion Santiago
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <form action="" method="post">
            {% csrf_token %}
            {{r.as_p}}
            <button type="submit">guardar</button>
        </form>
        <table>
            <thead>
                <th>
                    nombre de la receta
                </th>
                <th>
                    descripcion receta
                </th>
                <th>
                    disponible
                </th>
            </thead>
            <tbody>
                <form action="" method="POST">
                    {% for i in p %}
                        {% if i.restaurante_producto.nombre_restaurante == "papamania" %}
                            <tr>
                                <th>
                                    {{i.nombre_producto}}
                                </th>
                                <th>
                                    {{i.descripcion_producto}}
                                </th>
                                <th>
                                        {% if i.disponible == True %}
                                            <input type="checkbox" checked name="disponibilidad" value="{{i.id}}">
                                        {% else %}
                                            <input type="checkbox" name="disponibilidad" value="{{i.id}}">
                                        {% endif %}
                                </th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <button type="submit">guardar cambios</button>
                </form>
            </tbody>
        </table>
    </div>
{% endblock %}