{% extends 'index.html' %}

{% block title %}
    registro_receta - Alimentacion Santiago
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <form action="" method="post">
            {% csrf_token %}
            {{r.as_p}}
            <button type="submit">guardar</button>
        </form>
        <table>
            <tr>
                <thead>
                    <th>
                        nombre de la receta
                    </th>
                    <th>
                        descripcion receta
                    </th>
                    <th>
                        disponible
                    </th>
                </thead>
                <tbody>
                    {% for i in p %}
                        <tr>
                            <th>
                                {{i.nombre_producto}}
                            </th>
                            <th>
                                {{i.descripcion_producto}}
                            </th>
                            <th>
                                <form action="" method="post"></form>
                                    {% if i.disponible == True %}
                                        <input type="checkbox" checked name="disponibilidad" value="{{i.id}}">
                                    {% else %}
                                        <input type="checkbox" name="disponibilidad" value="{{i.id}}">
                                    {% endif %}
                                    <button type="submit">guardar cambios</button>
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </tr>
        </table>
    </div>
{% endblock %}