{% extends 'index.html' %}

{% block title %}
    Usuario - Alimentacion Santiago
{% endblock %}

{% block content %}
    <div>
        <table style="text-align: center;">
            <tr>
                <td>
                    <p>usted es: Pepe Botellas</p>
                </td>
                <td>
                    <img src="./imagenes/download.png" alt="">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <h2>los links a continuacion no estarán en el resultado final</h2>
        <br>
        <p>presione<a href="/registro_restaurante"> aqui </a>para entrar como administrador de Santiago Alimentacion</p>
        <p>presione<a href="/registro_receta"> aqui </a>para entrar como "Papamanía" de Santiago Alimentacion</p>
    </div>
{% endblock %}